@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.header {
    width: auto;
    height: 330px;
    display: flex;
    text-align: center;
    align-items: center;
    border: solid 1px ;
    background-image: url("./images/letters_code_green_122913_1920x1080.jpg");
}
.header h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 150px;
}
#img1{
    margin-left: auto ;
    margin-right: auto;
    width: 1000px;
    height: 450px;
}

#title{
    color: white;
    display: inline;
    margin: auto;
    font-size: 100px;
}


.label-input{
    display: flex;
    align-items: center;
    margin : 8px;
    z-index: 10;
}
.icon{
    background-color: white;
    width: 100px;
    height: 50px;   
    display: flex;
    float: left;
    position: fixed;
    right: 0;
    top: 290px;
    border-bottom: solid 1px;
}