@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fjalla+One&display=swap');

.header {
    width: auto;
    height: 330px;
    display: flex;
    text-align: center;
    align-items: center;
    border: solid 1px ;
    background-image: url("./images/2c1f3178b6a8c66276d64cdaf3dbe1b1.jpg");
}
.header h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 150px;
}
#img1{
    margin-left: auto ;
    margin-right: auto;
    width: 1000px;
    height: 450px;
}

#title{
    color: white;
    display: inline;
    margin: auto;
    font-size: 100px;
}


.label-input{
    display: flex;
    align-items: center;
    margin : 8px;
    z-index: 10;
}
.icon{
    background-color: white;
    width: 100px;
    height: 50px;   
    display: flex;
    float: left;
    position: fixed;
    right: 50px;
    top: 289px;
    border-bottom: solid 1px;
}
.menu{
    width: 1000px;
    height: 70px;
    display: flex;
    border-left: auto;
    border-right: auto;
    position: relative;
    margin: auto;
    justify-content: space-between;
}
.menu h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
   
    
}